// -- FOOTER --

.footer {
    padding: 60px 0 90px;
    background-color: #DDE2E7;
}




// -- COPYRIGHT --

.copyright {
    background-color: #E8EBEE;
}

.copyright__text {
    padding: 22px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #B7BABE;
    text-align: center;
}
